.container {
  width: 100vw;
  height: 100vh;
}

.input_video {
  display: none;
}

.intro_acces {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 100%;
}

.intro_acces button {
  width: 50%;
  height: 10%;
  font-size: 1rem;
  color: black;
}
