body {
  overflow: hidden;
  position: fixed;
  background-color: red;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  overflow: hidden;
}

.input_video {
  display: none;
}

.output_canvas {
  /* transform: rotateY(180deg) scale(1.35); */
}

.image_output {
  position: absolute;
  top: 10%;
  left: 10%;

  z-index: 100000;
  width: 25%;
}

.intro_acces {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.intro_acces button {
  width: 50%;
  height: 10%;
  font-size: 1rem;
  color: black;
}

.process_video {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.process_image {
  display: flex;
  background-color: blue;
  width: 50%;
  justify-content: center;
}

.take_picture {
  position: absolute;
  bottom: 5%;
}

.take_picture_button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.captured-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000;
}

@media (max-width: 768px) {
  .process_image {
    display: none;
  }
}

.process_image_top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.process_image_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
