/* GENERAL */

body {
  overflow: hidden;
  position: fixed;
  background-color: black;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: black;
  overflow: hidden;
}

/* INTRO */

.intro_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

.intro_content button {
  width: 50%;
  height: 10%;
  font-size: 1rem;
  color: black;
}

/* VIDEO */
.video_content {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.back_button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2000;
  width: 25%;
  height: 5%;
  border-radius: 10px;
  font-size: 1rem;
  color: black;
}

.input_video {
  display: none;
}

.output_canvas {
  position: absolute;
  top: 0%;
  left: 0%;
}

.take_picture {
  position: absolute;
  bottom: 10%;
}
.take_picture_button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.captured-image {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1000;
}

/* IMAGE */

.matched_image {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: auto;
  opacity: 0.9;
  z-index: 1000;
}
